services:
  test-client-1:
    image: ghcr.io/mizuamedesu/easy-open-match/testclient:latest
    environment:
      - OPEN_MATCH_FRONTEND_SERVICE=host.docker.internal:50504
      - ASSIGNMENT_TIMEOUT=60

  test-client-2:
    image: ghcr.io/mizuamedesu/easy-open-match/testclient:latest
    environment:
      - OPEN_MATCH_FRONTEND_SERVICE=host.docker.internal:50504
      - ASSIGNMENT_TIMEOUT=60
